{% extends "base.html" %}
{% block title %}Detail známky{% endblock %}
{% block content %}
<h2>Detail známky: {{ stamp.name }}</h2>

<a href="{{ url_for('catalog', country=stamp.emission.country.name) }}" class="btn btn-secondary mb-4">
    ← Zpět do katalogu ({{ stamp.emission.country.name }})
</a>

<img src="/images/{{ stamp.photo_path_base }}" alt="photo" width="200" class="mx-auto d-block">
<table class="table mt-4">
    <thead>
        <tr>
            <th>Název</th>
            <td>{{ stamp.name }}</td>
        </tr>
        <tr>
            <th>Katalogové číslo</th>
            <td>{{ stamp.catalog_number }}</td>
        </tr>
        <tr>
            <th>Rok vydání</th>
            <td>{{ stamp.emission.issue_year }}</td>
        </tr>
    </thead>
</table>

<h3>Podtypy</h3>
{% if subtypes %}
<table class="table mt-4">
    <thead>
        <tr>
            <th>Název podtypu</th>
            <th>Color</th>
            <th>Photo</th>
            <th>Paper</th>
            <th>Perforation</th>
            <th>Plate Flaw</th>
            <th>Catalog price superb**</th>
            <th>catalog price extra_fine</th>
            <th>catalog price very_fine *</th>
            <th>catalog price fine</th>
            <th>catalog price avg (*)</th>
            <th>catalog price poor</th>
            <th>catalog price post cover</th>
        </tr>
    </thead>
    <tbody>
        {% for subtype in subtypes %}
        <tr>
            <td>{{ subtype.type_name }}</td>
            <td>{{ subtype.color }}</td>
            <td>{{ subtype.photo_path_type }}</td>
            <td>{{ subtype.paper }}</td>
            <td>{{ subtype.perforation }}</td>
            <td>{{ subtype.plate_flaw }}</td>
            <td>{{ subtype.catalog_price_superb }}</td>
            <td>{{ subtype.catalog_price_extra_fine }}</td>
            <td>{{ subtype.catalog_price_very_fine }}</td>
            <td>{{ subtype.catalog_price_fine }}</td>
            <td>{{ subtype.catalog_price_avg }}</td>
            <td>{{ subtype.catalog_price_poor }}</td>
            <td>{{ subtype.catalog_price_post_cover }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="mt-4">Žádné podtypy pro tuto známku.</p>
{% endif %}
{% endblock %}
